.forgot-password-section {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

.forgot-password-section i {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.forgot-password-section .sendbutton {
    display: block;
    height: 32px;
    width: 210px;
    text-align: center;
    color: rgb(255,255,255);
    border: 2px solid rgb(232, 30, 107);
    background-color: rgb(232, 30, 107);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.forgot-password-section .sendbutton:hover {
    border: 2px solid rgb(255, 7, 147);
    background-color: rgb(255, 7, 147);
}