.confirm-reset-section {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.confirm-reset-section h4,
.confirm-reset-section p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.confirm-reset-section .changePassButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 32px;
    width: 275px;
    text-align: center;
    color: rgb(255,255,255);
    border: 2px solid rgb(232, 30, 107);
    background-color: rgb(232, 30, 107);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.confirm-reset-section .changePassButton:hover {
    border: 2px solid rgb(255, 7, 147);
    background-color: rgb(255, 7, 147);
}