.sign-in-form-section h4 {
    padding: 30px 0px 10px 0px;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
}


.sign-in-form-section .sign-in-form {
    padding: 20px 10px 30px 10px;
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    border-radius: 25px;
    background-color:rgba(149, 148, 148, 0.2);
}

.sign-in-form .details {
    padding: 10px 0px 0px 39px;
}

.sign-in-form input{
    height: 32px;
    width: 250px;
    padding-left: 8px;
}

.sign-in-form p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 12px;
}

.sign-in-form .continue-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 32px;
    width: 250px;
    text-align: center;
    color: rgb(255,255,255);
    border: 2px solid rgb(14, 101, 214);
    background-color: rgb(14, 101, 214);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 10px;
}

.sign-in-form .continue-button:hover {
    border: 2px solid rgb(22, 123, 255);
    background-color: rgb(22, 123, 255);
}