.success-reset-section {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.success-reset-section .continue-button {
    text-decoration: none;
    display: block;
    width: 150px;
    padding: 7px 0px 7px 0px;
    text-align: center;
    color: rgb(255,255,255);
    border: 2px solid rgb(232, 30, 107);
    background-color: rgb(232, 30, 107);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.success-reset-section .continue-button:hover {
    border: 2px solid rgb(255, 7, 147);
    background-color: rgb(255, 7, 147);
}
}